<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Quotation" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="off-canvas-wrapper">
      <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-off-canvas data-transition="overlap">
        <!-- Your menu or Off-canvas content goes here -->
        <%= render "layouts/offcanvas_menu" %>
      </div>

      <div class="off-canvas-content" data-off-canvas-content>
        <!-- Your page content lives here -->
        <%= render "layouts/topbar" %>
        
        <div class="grid-container">
          <% flash.each do |name, msg| %>
            <div class="row column">
              <div class="callout <%= name %>">
                <%= msg %>
              </div>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
